# .env
__pycache__
.idea
venv
env
.idea
# alembic/versions/*.py
.idea/misc.xml
.idea/poseidon.iml
*.log
*scripts/flush_migration_and_db.sh
media/*
.coverage
gunicorn_conf.py
env9/*
logs/*

*logs/
logs/*
