[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
fastapi-sqlalchemy = "*"
alembic = "*"
psycopg2-binary = "*"
uvicorn = "*"
python-dotenv = "*"
fastapi-pagination = "*"
pydantic = {extras = ["email"], version = "*"}
flake8 = "*"

[dev-packages]

[requires]
python_version = "3.8"
