black
isort
fastapi
uvicorn
autoflake
sqlalchemy
python-jose
python-dotenv
psycopg2-binary
passlib
pydantic[email]
alembic
jinja2
python-multipart
itsdangerous
pytest
httpx
faker
fastapi_pagination
logger
starlette